/* 스크롤 네비게이션 */
#fp-nav {}
#fp-nav ul {}
#fp-nav ul li {}
#fp-nav ul li a {}
#fp-nav ul li a span {}
#fp-nav ul li a.active span {
    background: #C147E9;
}

/* header */
header {
    width: 100%; position: fixed;
    top: 50px; z-index: 9999;
    display: flex; justify-content: space-between;
    padding: 0 100px;
}
header nav {}
header nav a {
    color: #fff; transition: 0.5s;
    margin-right: 20px;
}
header nav a:hover {
    color: #C147E9;
}
header h1 {
    color: #fff; font-size: 1.25rem;
    font-weight: 700;
}

/* main */
main {}
main .section {
    width: 100vw; height: 100vh;
}
main .main {
    background-image: url(../images/main_background_002.jpg);
    background-size: cover;
    background-position: center;
}
main .main .introduce {}
main .main .introduce h2 {
    text-align: center; margin-bottom: 60px;
    color: #f5f5f5; font-size: 3rem;
    font-weight: 700; opacity: 0;
}
main .main .introduce p {
    opacity: 0; margin-bottom: 20px;
    color: #ccc; text-align: center;
}
main .main #mouse {
    position: fixed; bottom: 50px; left: 50%;
    z-index: 9999;
    transform: translateX(-50%);
    animation: mouse 1.5s ease-in-out infinite;
}
main .main #mouse img {
    width: 100%;
}
/* about */
main .about {
    background-color: #000;
}
main .banner {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: url(../images/banner.png) repeat-x center;
    width:100%; height: 100px;
    position:absolute; z-index:30; bottom: 0;
    animation: moveBanner 10s infinite linear;
}
main .about .about_wrap {
    display: flex; justify-content: space-between;
    align-items: flex-start; flex-flow: column nowrap;
    padding: 0 200px;
}
main .about .about_wrap .photo {
    display: flex; align-items: flex-end;
    opacity: 0;
}
main .about .about_wrap .photo h2 {
    color: #fff; font-size: 3rem;
    font-weight: 700; margin-right: 40px;
}
main .about .about_wrap .photo h2 span {
    color: #C147E9; font-weight: 700;
    font-size: 4rem; margin-left: 10px;
}
main .about .about_wrap .photo p {
    width: 100px; border-radius: 10px;
    border: 3px solid #fff;
    animation: mouse 1.5s ease-in-out infinite;
}
main .about .about_wrap .photo p img {
    width: 100%; border-radius: 10px;
}
main .about .about_wrap .about_bottom {
    display: flex;
}
main .about .about_wrap .about_bottom .info {
    padding: 40px; border-top: 1px solid #C147E9;
    position: relative; opacity: 0;
}
main .about .about_wrap .about_bottom .info:before {
    content: ''; display: inline-block;
    width: 10px; height: 10px; border-radius: 50%;
    background: #C147E9; position: absolute; top: -5px;
    left: 0;
}
main .about .about_wrap .about_bottom .info h3 {
    color: #C147E9; font-weight: 700;
    font-size: 2rem; margin-bottom: 10px;
}
main .about .about_wrap .about_bottom .info p {
    color: #fff; margin-bottom: 5px;
}
main .about .about_wrap .about_bottom .info p a {
    color: #aaa; transition: 0.5s;
}
main .about .about_wrap .about_bottom .info p a:hover {
    color: #C147E9;
}
main .about .about_wrap .about_bottom .career {
    padding: 40px; border-top: 1px solid #C147E9;
    position: relative; opacity: 0;
}
main .about .about_wrap .about_bottom .career::before {
    content: ''; display: inline-block;
    width: 10px; height: 10px; border-radius: 50%;
    background: #C147E9; position: absolute; top: -5px;
    left: 0;
}
main .about .about_wrap .about_bottom .career h3 {
    color: #C147E9; font-weight: 700;
    font-size: 2rem; margin-bottom: 10px;
}
main .about .about_wrap .about_bottom .career p {
    color: #fff; margin-bottom: 5px;
}
main .about .about_wrap .about_bottom .github {
    padding: 40px; border-top: 1px solid #C147E9;
    position: relative; opacity: 0;
}
main .about .about_wrap .about_bottom .github::before {
    content: ''; display: inline-block;
    width: 10px; height: 10px; border-radius: 50%;
    background: #C147E9; position: absolute; top: -5px;
    left: 0;
}
main .about .about_wrap .about_bottom .github::after {
    content: ''; display: inline-block;
    width: 20px; height: 20px; border-radius: 50%;
    background: #C147E9; position: absolute; top: -10px;
    right: 0;
}
main .about .about_wrap .about_bottom .github h3 {
    color: #C147E9; font-weight: 700;
    font-size: 2rem; margin-bottom: 10px;
}
main .about .about_wrap .about_bottom .github a {
    color: #aaa; transition: 0.5s;
}
main .about .about_wrap .about_bottom .github a:hover {
    color: #C147E9;
}
/* skill */
main .skill {
    background: #000;
    padding-left: 200px;
}
main .skill h2 {
    color: #fff; font-size: 3rem;
    font-weight: 700; margin-bottom: 40px;
}
main .skill #swiper_skill {
    overflow: hidden;
}
main .skill #swiper_skill #skill_wrap {
    position: relative;
    display: flex; justify-content: space-between;
}
main .skill #swiper_skill #skill_wrap a {
    height: 200px; position: relative;
    border: 1px solid #fff; border-radius: 10px;
    display: flex; justify-content: space-between;
    align-items: center; padding: 0 50px;
}
main .skill #swiper_skill #skill_wrap .skill_icon {
    width: 150px; border: 1px solid #fff;
    padding: 10px; border-radius: 10px;
    background: #fff;
}
main .skill #swiper_skill #skill_wrap a img {
    width: 100%;
}
main .skill #swiper_skill #skill_wrap a .skill_info {

}
main .skill #swiper_skill #skill_wrap a .skill_info h3 {
    color: #aaa;
    text-align: center;
}
main .skill #swiper_skill #skill_wrap a .skill_info p {
    color: #aaa; font-size: 0.875rem;
    text-align: center;
}
main .skill #swiper_skill #skill_prev {
    position: absolute; top: 38%;
}
main .skill #swiper_skill #skill_prev:after {
    display: none;
}
main .skill #swiper_skill #skill_next {
    position: absolute; top: 38%;
}
main .skill #swiper_skill #skill_next:after {
    display: none;
}
/* project */
main .project {
    background-image: url(../images/gymshark.avif);
    background-size: cover; transition: 0.5s;
    position: relative;
}
main .project .portfolio_popup_bg {
    width: 100%; height: 100%;
    position: absolute; top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex; justify-content: center;
    transition: opacity 1s;
    align-items: center; z-index: 9999;
}
main .project .portfolio_popup_bg .portfolio_popup {
    width: 1000px; position: relative;
    display: flex; align-items: center;
    flex-flow: column nowrap;
}
main .project .portfolio_popup_bg .portfolio_popup video {
    width: 100%; border-radius: 10px;
}
main .project .portfolio_popup_bg .portfolio_popup p {
    color: #fff;
}
main .project .portfolio_popup_bg .portfolio_popup #planBtn,
main .project .portfolio_popup_bg .portfolio_popup #enterBtn {
    border-radius: 50px; padding: 10px 20px;
    color: #fff; width: 100%; margin: 5px 0;
    transition: 0.5s;
}
main .project .portfolio_popup_bg .portfolio_popup #planBtn:hover {
    color: #aaa;
}
main .project .portfolio_popup_bg .portfolio_popup #enterBtn:hover {
    color: #aaa;
}
main .project .portfolio_popup_bg .portfolio_popup #closeBtn {
    width: 36px; transition: 0.5s;
    position: absolute; top: 0; right: -50px;
}
main .project .portfolio_popup_bg .portfolio_popup #closeBtn:hover {
    filter: brightness(50%);
}
main .project .portfolio_popup_bg .portfolio_popup #closeBtn img {
    width: 100%;
}
main .project .portfolio {
    display: flex;
}
main .project .portfolio a {
    width: 25%; height: 100vh; padding: 0 20px;
    border-right: 1px solid #aaa;
    transition: 0.5s; display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
main .project .portfolio a:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
main .project .portfolio a:last-child {
    border: none;
}
main .project .portfolio a h2 {
    color: #fff; font-size: 2rem;
    font-weight: 700; transition: 1s;
    margin-top: 80px;
}
main .project .portfolio a h2 img {
    width: 100%;
}
main .project .portfolio a .info {}
main .project .portfolio a .info > p {
    text-align: center; color: #fff;
    margin-top: 20px;
}
main .project .portfolio a .info .tool {
    display: flex; flex-flow: row wrap;
    justify-content: center; margin-top: 20px;
}
main .project .portfolio a .info .tool p {
    background: rgba(0, 0, 0, 0.5); color: #fff;
    border-radius: 50px; padding: 5px 15px;
    margin: 5px;
}
/* contact */
main .contact {
    background: #000;
    padding: 0 200px;
}
main .contact h2 {
    color: #fff; font-size: 3rem;
    font-weight: 700;
}
main .contact #emailFrm {
    display: flex; flex-flow: column nowrap;
}
main .contact #emailFrm #textInput {
    border: 1px solid #aaa; height: 50px;
    color: #aaa; margin-bottom: 10px;
    border-radius: 10px; width: 50%;
    padding: 0 20px;
}
main .contact #emailFrm #emailInput {
    border: 1px solid #aaa; height: 50px;
    color: #aaa; margin-bottom: 10px;
    border-radius: 10px; width: 50%;
    padding: 0 20px;
}
main .contact #emailFrm #textMessage {
    background: none; height: 200px;
    color: #aaa; margin-bottom: 10px;
    border-radius: 10px; padding: 20px;
    width: 70%; border: 1px solid #aaa;
}
main .contact #emailFrm .h-captcha {
    margin-bottom: 10px;
}
main .contact #emailFrm #submitBtn {
    color: #fff; width: max-content;
    transition: 0.5s;
}
main .contact #emailFrm #submitBtn:hover {
    color: #aaa;
}

/* 모션 */
.wide {animation: wide 5s ease;}
@keyframes wide {
    0% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
/* 모션 2 */
.hide {animation: hide 1s both;}
.show {animation: show 1s both;}
@keyframes hide {
    0% {opacity: 1; transform: translateY(20px);}
    100% {opacity: 0; transform: translateY(0);}
}
@keyframes show {
    0% {opacity: 0; transform: translateY(0);}
    100% {opacity: 1; transform: translateY(20px);}
}
/* 배너 */
@keyframes moveBanner {
    0% {background-position-x: 0;}
    100% {background-position-x: 1000px;}
}
/* 마우스 모션 */
@keyframes mouse {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
}