@media screen and (max-width:1240px){
    main .skill .skill_wrap a {
        width: calc(100% / 2 - 10px);
        height: 80px;
    }
}
@media screen and (max-width:1024px){
    main .main .introduce h2 {
        font-size: 1.5rem;
    }
    main .main .introduce p {
        font-size: 0.875rem;
    }
}
@media screen and (max-width:768px){
    main .main .introduce {
        padding: 0 20px;
    }
    main .main .introduce h2 {
        font-size: 1rem;
    }
    main .main .introduce p {
        font-size: 0.75rem;
    }
    main .main #mouse {
        display: none;
    }
}